<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head'); %> 
</head>
<body>
    


    
    <footer>
        <%- include('../partials/footer') %>
    </footer>
    <script src="../../public/index.js"></script>
</body>
</html>